{% extends "home/layout.html" %}
{% block content %}

<div class="container">
  <div class="jumbotron">
    <h1>Portfolio Webpage using Django <sup>by Jonghyun Lee</sup></h1>
    <p>Django를 이용하여 만든 개인 포트폴리오 웹페이지입니다.</p>
    <p>
      <a class="btn btn-lg btn-primary" href="https://github.com/100th">
        Github Link &raquo;
      </a>
      <a class="btn btn-lg btn-primary" href="https://www.instagram.com/99th_day">
        Instagram Link &raquo;
      </a>
    </p>
  </div>
</div>

<div class="row">
 <div class="col-sm-12">
   <div class="alert alert-info">
     <ul>
       <li> 안녕 </li>
       <li> 하세요 </li>
     </ul>
   </div>
 </div>
</div>
{% endblock %}
