{% extends "home/layout.html" %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Portfolio Webpage using Django <sup>by Jonghyun Lee</sup></h1>
    <p>Python 웹 프레임워크인 Django를 이용하여 만든 개인 포트폴리오 웹페이지입니다.</p>
    <p>
      <a class="btn btn-lg btn-primary" href="https://github.com/100th">
        <i class="fa fa-fw fa-github"></i>Github Link &raquo;
      </a>&nbsp;&nbsp;
      <a class="btn btn-lg btn-primary" href="https://www.instagram.com/99th_day">
        <i class="fa fa-fw fa-instagram"></i>Instagram Link &raquo;
      </a>&nbsp;&nbsp;
      <a class="btn btn-lg btn-primary" href="mailto:99th_day@naver.com">
        <i class="fa fa-fw fa-envelope"></i>Sending Mail &raquo;
      </a>
    </p>
  </div>
</div>

<div class="container">
<h3>Main features of Web page</h3></br>
  <div class="row">
    <div class="col-sm-4">
      <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header"><i class="fa fa-fw fa-shopping-cart"></i>Shop</div>
        <div class="card-body">
          <h4 class="card-title">Iamport Payment Service</h4></a>
          <p class="card-text">아임포트 API를 사용하여 쇼핑몰에서 사용 가능한 결제기능 구현.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header"><i class="fa fa-fw fa-mouse-pointer"></i>Login</div>
        <div class="card-body">
          <h4 class="card-title">Social Login</h4>
          <p class="card-text">개발자 페이지에서 토큰을 발급 받아 페이스북, 카카오, 네이버 로그인 기능 구현.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header"><i class="fa fa-fw fa-file-text"></i>Guest book</div>
        <div class="card-body">
          <h5 class="card-title">Rating, Text counter, Calendar</h5>
          <p class="card-text">제이쿼리를 이용하여 방명록에 글을 쓸 때 평점, 글자 수 세기, 캘린더 위젯 구현.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header"><i class="fa fa-fw fa-file-text"></i>Guest book</div>
        <div class="card-body">
          <h4 class="card-title">Naver map</h4>
          <p class="card-text">네이버 지도 API를 이용하여 방명록 글 작성시 지도에 위치를 찍으면 위도, 경도 데이터 저장 기능 구현.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header"><i class="fa fa-fw fa-file-text"></i>Guest book</div>
        <div class="card-body">
          <h4 class="card-title">NHN Toast Editor</h4>
          <p class="card-text">NHN의 마크다운 에디터인 Toast를 적용하여 방명록 글 작성시 마크다운 에디터 기능 구현.</p>
        </div>
      </div>
    </div>

  </br>
  </div>
</div>
{% endblock %}
