{% if widget.value %}
  <img id="current_{{ widget.attrs.id }}" src="{{ widget.value.url }}" style="width: 80px; float: right;" />
{% endif %}

<img id="preview_{{ widget.attrs.id }}" style="width: 200px; float: left; margin-left: 50px; display: none;" />

{% include "admin/widgets/clearable_file_input.html" %}

<script>
$(function() {
  $('#{{ widget.attrs.id }}').change(function() {
    if ( this.files && this.files[0] ) {
      var reader = new FileReader();
      reader.onload = function(e) {
        $('#preview_{{ widget.attrs.id }}').attr('src', e.target.result).show();
        $('#current_{{ widget.attrs.id }}').css('opacity', 0.3);
      };
      reader.readAsDataURL(this.files[0]);
    }
  });
});
</script>
