{% extends "accounts/layout.html" %}
{% load socialaccount %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Login</h3>
      <form action="" method="post">
          {% csrf_token %}
          <table class="table table-hover table-bordered">
              {{ form.as_table }}
          </table>
          <input type="submit" class="btn btn-primary" />
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Social Login</h3>
      <ul>
        {% for provider in providers %}
        <li>
          {% if provider.social_app %}
          <a href="{% provider_login_url provider.id %}">
            {{ provider.name }}
          </a>
          {% else %}
          <a>
            Provider {{ provider.name }} 설정이 필요합니다.
          </a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
