{% extends "accounts/layout.html" %}
{% load humanize %}
{% block content %}

<div class="container">
  <div class="jumbotron">
    <h1>Accounts</h1></br>
  </div>


<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4>{{ user }}님의 구매내역</h4></br>
      <img src="{{ user.socialaccount_set.all.first.get_avatar_url }}" />
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>상품명</th>
              <th>결제가격</th>
              <th>처리결과</th>
              <th>결제일시</th>
              <th>영수증</th>
            </tr>
          </thead>
          <tbody>
            {% for order in order_list %}
              <tr>
                <td>{{ order.name }}</td>
                <td>{{ order.amount_html }}</td>
                <td>{{ order.status_html }}</td>
                <td>{{ order.paid_at|default:"-" }}</td>
                <td>{{ order.receipt_link|default:"-" }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
</div>
</div>
{% endblock %}
