{% extends "blog/layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p>
      <div class="alert alert-dismissible alert-light">
      <ul>
        <li>Hola</li>
        <li>Halo</li>
      </ul>
    </div>
  </p>
  <a href="{% url "post_new" %}" class="btn btn-primary float-right">새 글 쓰기</a>
      <p>
      <form action="" method="get">
        <input type="text" name="q" value="{{ q }}"/>
        <input type="submit" value="검색" class="btn btn-primary" />
      </form>

    </p>
      <table class="table table-hover table-bordered"
      <thead>
        <tr class="table-primary">
          <th>글 번호</th>
          <th>제목</th>
          <th>글쓴이</th>
          <th>글 쓴 날짜</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
        <tr>
          <td>{{ post.pk }}</td>
          <td><a href="{% url "post_detail" post.pk %}">{{ post.title }}</a></td>
          <td><small>{{ post.author }}가 작성</small></td>
          <td><small>{{ post.published_date}}에 작성</small></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
{% endblock %}
