{% extends "blog/layout.html" %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Guest Book</h1></br>
  </div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-dismissible alert-primary">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h3>Please!</h3>
        <ul>
          <li>방명록 매너를 지켜주세요! Please keep your manners.</li>
          <li>오른쪽 상단의 'Signup'에서 회원가입 후, 방명록에 글을 쓸 수 있습니다.</li>
          <li>After registering in 'Signup' on the top right corner, you can write in guestbook.</li>
        </ul>
      </div>

  <a href="{% url "post_new" %}" class="btn btn-primary float-right">새 글 쓰기</a>
      <p>
      <form action="" method="get">
        <input type="text" name="q" value="{{ q }}"/>
        <input type="submit" value="검색" class="btn btn-primary" />
      </form>

    </p>
      <table class="table table-hover table-bordered"
      <thead>
        <tr class="table-primary">
          <th>글 번호</th>
          <th>제목</th>
          <th>글쓴이</th>
          <th>글 쓴 날짜</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
        <tr>
          <td>{{ post.pk }}</td>
          <td><a href="{% url "post_detail" post.pk %}">{{ post.title }}</a></td>
          <td><small>{{ post.author }}가 작성</small></td>
          <td><small>{{ post.published_date}}에 작성</small></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
</div>
{% endblock %}
