{% extends "home/layout.html" %}
{% block content %}
<div class="container">
  <div class="jumbotron">
  <h1>Projects</h1></br>

</div>
  <div class="row">

    <div class="col-sm-4">
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <h3 class="card-header">Ajou Stock</h3>
        <div class="card-body">
          <h5 class="card-title">Auto stock trading program</h5>
          <h6 class="card-subtitle text-muted">Python, Keras, Tensorflow</h6>
        </div>
        <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
        <div class="card-body">
          <p class="card-text">------Please FIXME-------</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Team Project (2 people)</li>
          <li class="list-group-item">Contribution : 80 %</li>
          <li class="list-group-item">Creativity : 60 %</li>
          <li class="list-group-item">Difficulty : 5 / 5</li>
        </ul>
        <div class="card-body">
          <a href="https://github.com/100th/AjouStock" class="card-link">Github source code link</a>
        </div>
        <div class="card-footer text-muted">
          2018. 7. 2. ~
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <h3 class="card-header">Django Webpage</h3>
        <div class="card-body">
          <h5 class="card-title">My portfolio website</h5>
          <h6 class="card-subtitle text-muted">Python, Django, Bootstrap</h6>
        </div>
        <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
        <div class="card-body">
          <p class="card-text">Django를 이용하여 만든 개인 포트폴리오 웹 페이지입니다.
          PythonAnyWhere를 통해 호스팅하였고, Bootstrap으로 Front End 작업을 하였습니다.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Personal Project</li>
          <li class="list-group-item">Contribution : 100 %</li>
          <li class="list-group-item">Creativity : 70 %</li>
          <li class="list-group-item">Difficulty : 4 / 5</li>
        </ul>
        <div class="card-body">
          <a href="https://github.com/100th/Django" class="card-link">Github source code link</a>
        </div>
        <div class="card-footer text-muted">
          2018. 7. 12. ~
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <h3 class="card-header">Super Supreme</h3>
        <div class="card-body">
          <h5 class="card-title">Supreme bot</h5>
          <h6 class="card-subtitle text-muted">Python, Selenium, Beautifulsoup</h6>
        </div>
        <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
        <div class="card-body">
          <p class="card-text">미국 패션 브랜드 'Supreme(슈프림)'은 인터넷 해외 직구로만 구매가 가능합니다. 그렇기에
            인기있는 제품들은 제품이 올라온지 5초안에 품절됩니다. 그 짧은 시간에 마우스로 제품을 선택하고 카드 번호와
            배송지 정보를 입력하기에는 역부족입니다. 따라서 인간의 손보다 빠르게 컴퓨터로 제품을 구매하기 위해
            만든 Bot입니다.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Personal Project</li>
          <li class="list-group-item">Contribution : 100 %</li>
          <li class="list-group-item">Creativity : 80 %</li>
          <li class="list-group-item">Difficulty : 3 / 5</li>
        </ul>
        <div class="card-body">
          <a href="https://github.com/100th/SuperSupreme" class="card-link">Github source code link</a>
        </div>
        <div class="card-footer text-muted">
          2018. 6. 8. ~ 2018. 6. 15.
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
