{% extends "home/layout.html" %}
{% block content %}

{% load static %}
<div class="container">
  <div class="jumbotron">
  <h1><i class="fa fa-fw fa-folder-open"></i>Projects</h1></br>

</div>
  <div class="row">

    <div class="col-sm-4">
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <h3 class="card-header">Ajou Stock</h3>
        <div class="card-body">
          <h5 class="card-title">Auto stock trading program</h5>
          <h6 class="card-subtitle text-muted">Python, Keras, Tensorflow, Matplotlib</h6>
        </div>
        <img style="height: 200px; width: 100%; display: block; border: 1px solid lightgray" src="{% static "projects/002.png" %}" alt="Card image">
        <div class="card-body">
          <p class="card-text">강화학습과 딥러닝을 이용한 키움증권 주식 자동매매 프로그램입니다. 급등주 포착
            알고리즘을 통해 종목을 추천한 후, 선정된 종목의 OHLCV 데이터를 크롤링하여 CSV 파일로 저장합니다.
            초기에는 임의로 투자하여 수익이 발생했을 경우에 +1점을 부여하고, 손실이 발생했을 때에는
            -1점을 부여하여 딥러닝과 강화학습으로 더 나은 방향으로 학습시킵니다. 마지막으로 학습한 투자 모델을
            바탕으로 실제 트레이딩을 진행하며, 신경망 모델을 만듭니다.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Team Project (4 people)</li>
          <li class="list-group-item">Contribution : 80 %</li>
          <li class="list-group-item">Creativity : 60 %</li>
          <li class="list-group-item">Difficulty : 5 / 5</li>
        </ul>
        <div class="card-body">
          <a href="https://github.com/100th/AjouStock" class="card-link">Github source code link</a>
        </div>
        <div class="card-footer text-muted">
          2018. 7. 2. ~ 2018. 8. 24.
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <h3 class="card-header">Django Webpage</h3>
        <div class="card-body">
          <h5 class="card-title">My portfolio website</h5>
          <h6 class="card-subtitle text-muted">Python, Django, Bootstrap</h6>
        </div>
          <img style="height: 200px; width: 100%; display: block; border: 1px solid lightgray" src="{% static "projects/001.png" %}" alt="Card image">
        <div class="card-body">
          <p class="card-text">Django를 이용하여 만든 개인 포트폴리오 웹 페이지입니다.
          PythonAnyWhere를 통해 호스팅하였고, Bootstrap으로 Front End 작업을 하였습니다.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Personal Project</li>
          <li class="list-group-item">Contribution : 100 %</li>
          <li class="list-group-item">Creativity : 70 %</li>
          <li class="list-group-item">Difficulty : 4 / 5</li>
        </ul>
        <div class="card-body">
          <a href="https://github.com/100th/Django" class="card-link">Github source code link</a>
        </div>
        <div class="card-footer text-muted">
          2018. 7. 12. ~ 2018. 8. 20.
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <h3 class="card-header">Super Supreme</h3>
        <div class="card-body">
          <h5 class="card-title">Supreme bot</h5>
          <h6 class="card-subtitle text-muted">Python, Selenium, Beautifulsoup</h6>
        </div>
          <img style="height: 200px; width: 100%; display: block; border: 1px solid lightgray" src="{% static "projects/003.png" %}" alt="Card image">
        <div class="card-body">
          <p class="card-text">미국 패션 브랜드 'Supreme(슈프림)'은 인터넷 해외 직구로만 구매가 가능합니다. 그렇기에
            인기있는 제품들은 제품이 올라온지 5초안에 품절됩니다. 그 짧은 시간에 마우스로 제품을 선택하고 카드 번호와
            배송지 정보를 입력하기에는 역부족입니다. 따라서 인간의 손보다 빠르게 컴퓨터로 제품을 구매하기 위해
            만든 Bot입니다.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Personal Project</li>
          <li class="list-group-item">Contribution : 100 %</li>
          <li class="list-group-item">Creativity : 80 %</li>
          <li class="list-group-item">Difficulty : 3 / 5</li>
        </ul>
        <div class="card-body">
          <a href="https://github.com/100th/SuperSupreme" class="card-link">Github source code link</a>
        </div>
        <div class="card-footer text-muted">
          2018. 6. 8. ~ 2018. 6. 15.
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
