{% extends "home/layout.html" %}
{% block content %}

{% load static %}
  <div class="container">
    <div class="jumbotron">
        <h1><i class="fa fa-fw fa-user"></i>About</h1></br>
    </div>
    <div class="container-fluid main-content text-center">
    <div class="row">
      <div class="col-lg-8 col-sm-12">
        <h1 class="display-5">Jonghyun Lee</h1>
        <p>
          <br>안녕하세요. 제 이름은 <strong>이종현</strong> 입니다. 저는 아주대학교 산업공학과에 재학중입니다.</br>
          <br><strong>파이썬</strong>을 시작한지는 1년이 채 되지 않았습니다. </br>
          <br>하지만 파이썬을 접함과 동시에 <strong>굉장한 흥미</strong>가 생겨서 관련 서적을 읽으며 열심히 독학하고 있습니다.</br>
          <br>주로 파이썬을 이용한 <strong>데이터 분석, 머신러닝/딥러닝, 웹개발</strong>에 관심이 있습니다.</br>
          </br>
          <br>특히 웹 개발에서는 모든 화면 크기에서 작동하는 웹 사이트를 디자인하고 개발하는데 관심이 있습니다.</br>
          <br>제가 가장 관심있는 분야는 <strong>Python</strong>의 웹 프레임워크인 <strong>Django</strong> 를 이용한 <strong>'Back End'</strong> 개발이지만,</br>
          <br>최근에 디자인과 <strong>'Front End'</strong> 분야에 관심을 갖기 시작했습니다.</br>
        </br>
        </p>
        <div class="skill-list">
          <h5 class="mb-1"><strong>Frontend</strong></h5>
          <ul class="skills">
              <img src="{% static "about/html.png" %}" style="width: 50px;" />
              <img src="{% static "about/css.png" %}" style="width: 60px;" />
              <img src="{% static "about/bootstrap.png" %}" style="width: 50px;" />
          </ul></br>

          <h5 class="mb-1"><strong>Backend</strong></h5>
          <ul class="skills">
              <img src="{% static "about/python.png" %}" style="width: 60px;" />
              <img src="{% static "about/django.png" %}" style="height: 50px;" />
          </ul></br>

          <h5 class="mb-1"><strong>Hosting</strong></h5>
          <ul class="skills">
              <img src="{% static "about/pythonanywhere.png" %}" style="width: 60px;" />
          </ul></br>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 justify-content-center align-items-center">

        <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-header">About Me</div>
          <div class="card-body">
            <h4 class="card-title">Jonghyun Lee</h4>
            <img src="{% static "about/me.png" %}" style="width: 250px;" />
            <p class="card-text">
              <br><strong>Don't Reinvent The Wheel</strong></br>
              <br>이미 있는 것을 다시 만드느라 쓸데없이 시간을 낭비하지 마라.</br></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
